*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1750px;
    margin: 0 auto;
}
.logo{
    /* width: 120px;
    height: 120px; */
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 10px;
}
.upper_container{
    background-color: #737373;
    color: #ffffff;
    padding: 10px;
    font-size: 20px;
}
.upper_container p{
    margin-bottom: 5px;
}
table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}

td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}
th{
background-color: #edebeb;
}
td p{
margin-bottom: 6px;
}
h2{
text-align: center;
margin-bottom: 10px;
}
.payment_method, .items_container, .subtotal_container{
margin-top: 30px;
}
.payment_method td, .payment_method th{
width: 50%;
}
.subtotal_container{
display: flex;
justify-content: flex-end;
}
.subtotal, .credit, .grandTotal{
display: flex;
font-weight: 700;
justify-content: space-between;
}
.subtotal p,.subtotal span,.credit p,.credit span,.grandTotal p,.grandTotal span{
font-size: 20px;
margin-bottom: 5px;
}
.subtotal_items{
width: 40%;
padding: 10px;
}
